LibraryClient/xml-resources/web-service-references/LibraryWS/wsdl/localhost_8080/LibraryWS/LibraryWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.com/" name="LibraryWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.com/" schemaLocation="http://localhost:8080/LibraryWS/LibraryWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getLibrary">
<part name="parameters" element="tns:getLibrary"/>
</message>
<message name="getLibraryResponse">
<part name="parameters" element="tns:getLibraryResponse"/>
</message>
<message name="addNewBook">
<part name="parameters" element="tns:addNewBook"/>
</message>
<message name="addNewBookResponse">
<part name="parameters" element="tns:addNewBookResponse"/>
</message>
<message name="addNewExemplar">
<part name="parameters" element="tns:addNewExemplar"/>
</message>
<message name="addNewExemplarResponse">
<part name="parameters" element="tns:addNewExemplarResponse"/>
</message>
<message name="takeBook">
<part name="parameters" element="tns:takeBook"/>
</message>
<message name="takeBookResponse">
<part name="parameters" element="tns:takeBookResponse"/>
</message>
<message name="returnBook">
<part name="parameters" element="tns:returnBook"/>
</message>
<message name="returnBookResponse">
<part name="parameters" element="tns:returnBookResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="LibraryWS">
<operation name="getLibrary">
<input wsam:Action="http://ws.com/LibraryWS/getLibraryRequest" message="tns:getLibrary"/>
<output wsam:Action="http://ws.com/LibraryWS/getLibraryResponse" message="tns:getLibraryResponse"/>
</operation>
<operation name="addNewBook">
<input wsam:Action="http://ws.com/LibraryWS/addNewBookRequest" message="tns:addNewBook"/>
<output wsam:Action="http://ws.com/LibraryWS/addNewBookResponse" message="tns:addNewBookResponse"/>
</operation>
<operation name="addNewExemplar">
<input wsam:Action="http://ws.com/LibraryWS/addNewExemplarRequest" message="tns:addNewExemplar"/>
<output wsam:Action="http://ws.com/LibraryWS/addNewExemplarResponse" message="tns:addNewExemplarResponse"/>
</operation>
<operation name="takeBook">
<input wsam:Action="http://ws.com/LibraryWS/takeBookRequest" message="tns:takeBook"/>
<output wsam:Action="http://ws.com/LibraryWS/takeBookResponse" message="tns:takeBookResponse"/>
</operation>
<operation name="returnBook">
<input wsam:Action="http://ws.com/LibraryWS/returnBookRequest" message="tns:returnBook"/>
<output wsam:Action="http://ws.com/LibraryWS/returnBookResponse" message="tns:returnBookResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.com/LibraryWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.com/LibraryWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="LibraryWSPortBinding" type="tns:LibraryWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getLibrary">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNewExemplar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="takeBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LibraryWS">
<port name="LibraryWSPort" binding="tns:LibraryWSPortBinding">
<soap:address location="http://localhost:8080/LibraryWS/LibraryWS"/>
</port>
</service>
</definitions>